<main>
  <subject-header></subject-header>
  <div class="container">
    <div *ngIf="!(isLoading | async)">
      <subject-note-form></subject-note-form>
    </div>
    <div class="" id="notes-box">
      <div class="text-center">
        <div class="header text-center">
          <div>
            <subject-note-list
              [notes]="(notes | async) || []"
            ></subject-note-list>
          </div>
        </div>
      </div>
    </div>
    <div class="spinner" *ngIf="(isLoading | async)">
    </div>
  </div>
</main>
