<main>
  <subject-header></subject-header>
  <div class="container">
    <div>
      <subject-note-form></subject-note-form>
    </div>
    <div class="" id="notes-box">
      <div class="text-center">
        <div class="header text-center">
          <div>
            <div *ngIf="(isLoading$ | async)" class="d-flex justify-content-center" style="transform: scale(3)">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
            <subject-note-list
              [notes]="(notes$ | async) || []"
            ></subject-note-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
