<main>
  <subject-header></subject-header>
  <div class="container" *ngIf="!(isLoading | async) else spinner">
    <div>
      <subject-note-form></subject-note-form>
    </div>
    <div class="" id="notes-box">
      <div class="text-center">
        <div class="header text-center">
          <div>
            <subject-note-list [notes]="notes | async"></subject-note-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #spinner>
    <div class="loader" *ngIf="isLoading | async">Loading...</div>
  </ng-template>
</main>
