/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Montserrat", sans-serif;
  background: whitesmoke;
}



h1, h2, h3, h4,h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-transform: capitalize;
  color: #757480;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.4rem;
}
h3{
  font-size: 1.3rem;
}
h4{
  font-size: 1.2rem;
}
h5{
  font-size: 1.1rem;
}
